# Load Dataset from Drive

In [3]:
import pandas as pd
import os

os.chdir('/content/drive/MyDrive/Colab/Datasets/')
df = pd.read_csv('job_satisfaction.csv')
df

,Gender,Education_Level,Age,Years_of_Experience,Hours_Worked_Per_Week,Salary,Job_Satisfaction
0,Male,Master,41,15,42,87446,8
1,Female,Bachelor,36,22,34,73666,10
2,Male,Bachelor,41,14,41,113796,10
3,Male,PhD,16,29,36,53834,14
4,Male,Bachelor,37,18,41,53205,8
...,...,...,...,...,...,...,...
95,Female,Bachelor,30,8,45,23961,7
96,Female,Bachelor,39,21,55,39696,9
97,Female,PhD,44,15,50,97337,7
98,Female,High School,43,10,62,102899,6
99,Male,Master,50,17,32,65019,5

# One-Hot Encoding for Gender & Educational Level

In [8]:
# Run One-Hot Encoding for Gender and Educational level
df_encoded = pd.get_dummies(df, columns=['Gender', 'Education_Level'], drop_first=True)
df_encoded

,Age,Years_of_Experience,Hours_Worked_Per_Week,Salary,Job_Satisfaction,Gender_Male,Education_Level_High School,Education_Level_Master,Education_Level_PhD
0,41,15,42,87446,8,True,False,True,False
1,36,22,34,73666,10,False,False,False,False
2,41,14,41,113796,10,True,False,False,False
3,16,29,36,53834,14,True,False,False,True
4,37,18,41,53205,8,True,False,False,False
...,...,...,...,...,...,...,...,...,...
95,30,8,45,23961,7,False,False,False,False
96,39,21,55,39696,9,False,False,False,False
97,44,15,50,97337,7,False,False,False,True
98,43,10,62,102899,6,False,True,False,False
99,50,17,32,65019,5,True,False,True,False